.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    
  }
  body{
background-color: black;
  }
  
  .navbar-brand i {
    color: #00bcd4;
  }
  
  .nav-link {
    font-size: 1rem;
    margin: 0 10px;
    display: flex;
    align-items: center;
    color: #00bcd4; /* Initial link color */
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ff4081; /* Change color on hover */
    transform: scale(1.1); /* Slight zoom effect */
  }
  
  .nav-link i {
    color: #00bcd4;
    margin-right: 5px;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover i {
    color: #ff4081; /* Icon color change on hover */
  }
  