/* Skills.css */

.skills-section {
    padding: 60px 20px;
    background-color:black;
    text-align: center;
    font-family: 'Arial', sans-serif;
    animation: fadeIn 1s ease-out;
  }
  
  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00bcd4;
    margin-bottom: 20px;
    animation: slideInFromLeft 1s ease-out;
  }
  
  .skills-description {
    font-size: 1.1rem;
    color: #00bcd4;
    margin-bottom: 30px;
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 1.5s ease-out;
  }
  
  .skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    margin-top: 30px;
    animation: fadeIn 1.8s ease-out;
  }
  
  .skills-category {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skills-category:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .skills-category h3 {
    font-size: 1.7rem;
    color: #00bcd4;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s ease;
  }
  
  .skills-category h3:hover {
    color: #00bcd4;
  }
  
  .skills-category ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .skills-category li {
    font-size: 1.1rem;
    color:#00bcd4;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .skills-category li:hover {
    transform: translateX(10px);
    color: #007bff;
  }
  
  .skills-category li i {
    font-size: 1.3rem;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .skills-category li:hover i {
    color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .skills-content {
      grid-template-columns: 1fr;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  