/* App.css */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black !important;  /* Ensure the background color is applied */
  color: white;  /* Set text color to white for visibility */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1; /* Pushes the footer to the bottom */
}

footer {
  flex-shrink: 0;
  background-color: #f8f9fa;  /* Footer background color */
  color: black;  /* Footer text color */
  padding: 1rem 0;
  text-align: center;
}
hr {
  border: 0; /* Remove default border style */
  height: 2px; /* Set the thickness of the line */
  background-color: white; /* Set the color to white */
  margin: 2rem 0; /* Add some spacing above and below */
}

